/* styles.css */
  

  #navbar{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100px;
    opacity: 1;
    background-color: #d8e6e6;
  }

  #button_nav{
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }
  #button_nav:hover{
    opacity: 0.8;
  }
  .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Kong_Fu_Logo{
    background: url(kong_fo_log.jpg);
    height: 80px;
    width: 300px;
    /* extended code */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
  }
 
  button{
    height: 60px;
    width: 200px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  button:hover{
    background-color: #0443f1;
    color: white;
    transform: scale(1.1); 
  }

  #movable_background {
    background-color: white;
    height: 800px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #movable_background:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(kong_kitchen_background.jpg) center center;
    opacity: 1;
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  #content{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #text_content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px; 
    background: #f5f5f5; 
    font-size: 35px; 
    font-family: monospace; 
    border-radius: 50px; 
    overflow: hidden; 
    position: relative; 
    width: 600px;

  }

  #text_content p { 
    
    margin: 0px; 
    white-space: nowrap; 
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
    animation:  
    typing 2s steps(22, end) forwards, blink 1s 5s; 
   
  } 

  @keyframes typing { 
      0% { 
          width: 0% 
      } 

      100% { 
          width: 100% 
      } 
  } 

  @keyframes blink { 

      0%, 
      100% { 
          border-right: 2px solid transparent; 
      } 

      50% { 
          border-right: 2px solid #222; 
      } 
  } 

  #div_point{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    background-color: #d8e6e6;
  }
  #point_1{
    width: 400px;
    height: 250px;
    margin: 20px;
    background-color: white;
 
  }

  #point_2{
    width: 400px;
    height: 250px;
    margin: 20px;
    background-color: white;
    
  }
  #point_3{
    width: 400px;
    height: 250px;
    margin: 20px;
    background-color: white;
  }

  .no-scroll {
    overflow: hidden;
  }
  h1{
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    padding-top: 10px;
  }
  h2{
    font-family: sans-serif;
    font-size: small;
    margin: 10px;
  }
  h3{
    font-family: sans-serif;
    font-size: 30px;
    margin: 5px;
  }

  h4{
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
  }
  h5{
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
  }
  h6{
    font-family: sans-serif;
    font-size: 15px;
    margin: 5px;
  }

  #Kong_Fu_Friendly{
    background: url(Friendly.jpg);
    height: 210px;
    width: 380px;
    margin: 10px;
    /* extended code */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
  }

  #Kong_Fu_Delicious{
    background: url(Delicious.jpg);
    height: 210px;
    width: 380px;
    margin: 10px;
    
    /* extended code */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
  }
  #Kong_Fu_Reasonable{
    background: url(Price.jpg);
    height: 210px;
    width: 380px;
    margin: 10px;
    /* extended code */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
  }
  #point{
    background-color: white;

    border-radius: 5px;
    height: 40px;
 
  }
 
  #face_1{
    background: url(face_1.jpg);
    height: 40vh;
    width: 40vh;
    margin: 10px;
    /* extended code */
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: right center;;
    border-radius: 50%;
  }
  #face_2{
    background: url(family_gathering.jpg);
    height: 40vh;
    width: 40vh;
    margin: 10px;
    /* extended code */
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: right center;;
    border-radius: 50%;
  }
  #buttom_part_home{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 1200px;
    background-color: #d8e6e6;
  }

  #proof_bottom{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin-top: 100px;
    margin-left: 30px;
    padding-left: 100px;
    width: 1280px;
    border-radius: 20px;
   
  }

  #face_letter{
    width: 800px;
    padding-left: 100px;
  }

  #bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #d8e6e6;
    padding-top: 150px;
  }
  #bottom_box{
    background-color: white;
    width: 1300px;
    height: 250px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    justify-content: center;
    align-items: center;
   
  }
  #bottom_left{
    padding-top: 10px;
    padding-left: 20px;
    
  }
  

  #social_media_2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 100px;
    background-color: #c3ceee;
    height: 250px;
  }

  
  /*Menu Section*/

  #menuPage{
    background-color: #d8e6e6;
    padding-top: 100px;
    height: 2000px;
  }

  div #menu-section{
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    padding: 3vh 3vw;
    justify-content: center;
  }

  div#menu-title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
   
  }

  div#menu-title h3{
    color: #FB410D;
    font-size: 1rem;
    text-transform: uppercase;
  }

  div#menu-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 80vw;
    height: 80vw;
  }

  div.dish{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: white;
    align-items: center;
    padding: 5rem;
    margin: 5rem;
    margin-bottom: 1rem;
    border-radius: 20px;
  }

  div.dish img{
    width: 10vw;
    padding-right: 1rem;
  }

  div.dish h4{
    font-size: 1.25rem;
    padding: 0px;
    margin: 0px;
  }

  div.dish h5{
    font-size: 1.25rem;
    color: #FB410D;
    margin: 0px;
    justify-self: center;
  }
  div.dish p{
    margin: 0px;
    font-size: 0.9rem;
    color: gray;
    padding-top: 1vh;
  }

  div #dish-details{
    display: grid;
    grid-template-columns: 5fr 1fr;
  }

  #image_food{
    height: 150px;
    width: 200px;
    border-radius: 20px;
    margin-right: 40px;
  }


  /*About Style*/
  #aboutPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    height: 700px;
    background-color: #d8e6e6;
  }
  #item_location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px
  }
  #our_location{
    padding-bottom:20px;
    padding-top: 20px;
  }
 
  #point_about{
    padding: 5px;
 
  }
  #left_arrow{
    height: 8vh;
    width: 8vh;
    margin: 20px;
    background: url(left.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
    opacity: 0.6;
  }
  #left_arrow:hover{
    opacity: 1;
    transform: scale(1.2);
  }

  #right_arrow{
    height: 8vh;
    width: 8vh;
    margin: 20px;
    background: url(right.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform .2s; /* Animation */
    opacity: 0.6;
  }

  #right_arrow:hover{
    opacity: 1;
    transform: scale(1.2);
  }

  #location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #location_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 5fr 1fr;
    border: solid 1px #0443f1 ;
    transition: transform .2s; /* Animation */
    height: 450px;
    width: 400px;
    opacity: 0.8;
    background-color: #afeceee3;
    border-radius: 20px;
   }

   #location_1:hover{
    transform: scale(1.01);
    opacity: 1;
    background-color: #ffffffe3;
  }

  #Kong_Fu_Vensreng{
    height: 300px;
    width: 300px;
    margin: 5px;
    background: url(Kong_Fo_Veng_Sreng.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    
  }


  #location_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #0443f1 ;
    transition: transform .2s; /* Animation */
    height: 450px;
    width: 400px;
    opacity: 0.8;
    background-color: #a6e8ebe3;
    border-radius: 20px;
   }

   #location_2:hover{
    transform: scale(1.01);
    opacity: 1;
    background-color: #ffffffe3;
  }

  #Kong_Fu_Midtown{
    height: 300px;
    width: 300px;
    margin: 5px;
    background: url(Kong_Fo_Midtown.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    
  }

  #location_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #0443f1 ;
    transition: transform .2s; /* Animation */
    height: 450px;
    width: 400px;
    opacity: 0.8;
    background-color: #68e9eee3;
    border-radius: 20px;
   }

   #location_3:hover{
    transform: scale(1.01);
    opacity: 1;
    background-color: #ffffffe3;
  }

  #Kong_Fu_Malin_Office{
    height: 300px;
    width: 300px;
    margin: 5px;
    background: url(Kong_Fo_Maline_Office.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    
  }

  
  #location_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #0443f1 ;
    transition: transform .2s; /* Animation */
    height: 450px;
    width: 400px;
    opacity: 0.8;
    background-color: #2ce6ece3;
    border-radius: 20px;
   }

   #location_4:hover{
    transform: scale(1.01);
    opacity: 1;
    background-color: #ffffffe3;
  }

  #Kong_Fu_Kmall{
    height: 300px;
    width: 300px;
    margin: 5px;
    background: url(Kong_Fo_Kmall.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    
  }